name: Deploy Native Image to Server

on:
  push:
    branches: [ "master" ]
  workflow_dispatch:

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      # 1. 拉取代码
      - uses: actions/checkout@v3

      # 2. 设置 JDK 21 和 GraalVM 环境
      - uses: graalvm/setup-graalvm@v1
        with:
          java-version: '21'
          distribution: 'graalvm'
          github-token: ${{ secrets.GITHUB_TOKEN }}
          native-image-job-reports: 'true'

      # 3. 登录 Docker Hub
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      # 4. 构建并导出
      # 核心修改：加上了 -Pnative 参数！
      # 这会告诉 Maven："启用 native profile，执行 AOT 处理，并调用 build-image"
      - name: Build and Export
        run: |
          chmod +x mvnw
          ./mvnw -Pnative spring-boot:build-image -Dspring-boot.build-image.cleanCache=true --no-transfer-progress          
          # 这里的镜像名必须和 pom.xml 里 <name> 配置的一致
          # 如果 pom.xml 里已经是 chengshiyu1/imserver:latest，这里就不需要 tag 了，直接 save
          docker save -o imserver.tar chengshiyu1/imserver:latest

      # 5. 上传文件
      - name: Copy file to Server
        uses: appleboy/scp-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          password: ${{ secrets.SERVER_PASSWORD }}
          source: "imserver.tar"
          target: "/root"
      # docker run -d -p 8081:8080 --name imserver -v /root/project/logs/imserver:/logs  -e LOGGING_FILE_PATH=/logs chengshiyu1/imserver:latest
      # 6. 部署
      - name: Deploy to Server
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.SERVER_IP }}
          username: root
          password: ${{ secrets.SERVER_PASSWORD }}
          script: |
            docker stop imserver || true
            docker rm imserver || true
            docker load -i /root/imserver.tar
            rm -f /root/imserver.tar